  /*Misc Styling*/
.solid{ /*Fixes hr tags used in flex boxes */
  width: 100%;
  border: 1px solid #000;
}

body{
  margin:0;
}

a{ /*Default link style*/
  text-decoration: none;
  color: #1A1B1A;
}

ul{
  list-style: none;
}

                                      /* ########### */
                                      /* Layout */
                                      /* ########### */

.nav{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: fixed;
  width: 100%;
  padding: 1rem;
  z-index: 99; /*On top of everything*/
}

.logo{
  width: 15%;
}

.nav-items{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  width: 90%;
  margin: 0 5rem; /*Top/Bottom Right/Left*/
}

.nav-buttons{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.nav a{
  padding: 1.2rem 0 1.2rem 0;
}

.search, .content,
.featured, .info-cards,
.card, .footer{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  padding: 2rem;
}

.search{
  padding-top: 12rem;
  padding-bottom: 3rem;
  background-image: url('../media/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.option-toggle{
  padding-top: 0.3rem;
  padding-left: 1.5rem;
}

.featured{
  padding-top: 0rem;
  width: 100%;
}

.content{
  border-top: 0.1em solid black;
}

.featured-slideshow{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  width: 70%;
  height: 28em; /*Default for development */
  border: 0.2em solid #1A1B1A;
}

.house-info{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 10%;
}

.house-info h2{
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom:0;
  text-align: center;
}

.house-info h4{
  margin:0;
  margin-top: 1.5em;
}

.house-info h3{
  margin:0;
  margin-top:0.3em;
}

.house-info ul{
  padding:0;
  margin:auto;
  text-align: right;
}

.house-info li{
  padding:0.75em;
}

.house-info a{
  margin-bottom:1em;
}

.house-img{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}

.house-img img{
  width: 100%;
}

.info-cards{
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.card{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content:flex-start;
  width: 28%;
  height: 25rem;
  padding: 0;
  overflow: hidden;
}

.card-head{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#our-mission{ /*Card heading bg image */
  background-image: url("../media/our-mission.png");
  background-position: top;
}

#most-trusted{ /*Card heading bg image */
  background-image: url("../media/most-trusted.png");
  background-position: center;
}

#enquire-today{ /*Card heading bg image */
  background-image: url("../media/enquire-today.png");
  background-position: center;
}

.card-head h3{
  padding-bottom: 1rem;
}

.card p, .card a{
/*display:none causing layout problems, visibility and all 0 is used instead*/
  visibility: hidden;
  height: 0;
  margin: 0;
  overflow:hidden;
  text-align:center;
}

.footer{
  height: 20rem;
}
.footer a{
  width:4%;
  top:0;
}
.footer img{
  width: 100%;
}

.footer-content{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 90%;
  margin-top: 1rem;
}

.column{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  width: 30%;
  height: 100%;
}

.newsletter h4{
  margin: 0;
  margin-bottom: 1em;
}

.media-links{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 2em;
}

.media-links a{
  width: 15%;
  border-radius: 32px;
  overflow: hidden;
}
.media-links img{
  width: 100%;
}

.featured-slideshow,.testimonials{
  --count: 3;
  position: relative;
  overflow: hidden;
  border-radius: 2em;
}

.slider-testimonial,.slider-featured{
  position: absolute;
  height: 100%;
  width: calc(100%*var(--count));
}

.featured-property,.testimonial{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-around;
  float: left;
  width: calc(100%/var(--count));
  height: 100%;
}

.testimonial p, .testimonial i{
  padding: 0em 1em 1em 1em;
}


.legal-information{
  font-size: 1.3em;
}
                                        /* ########### */
                                        /* Color */
                                        /* ########### */
:root{
  background-color: #B7B29D;
}
.nav{
  background-image: -webkit-linear-gradient(top left, #3C505F, #B7B29D);
  background-image: -o-linear-gradient(top left, #3C505F, #B7B29D);
  background-image: linear-gradient(to bottom right, #3C505F, #B7B29D);
}

.nav a{
  border-bottom: 0.1em solid transparent;
}

.nav a:hover, .nav a:active{
  color: #3C505F;
  border-bottom: 0.1em solid #1A1B1A;
}

.search h1, .search label{
  color: #FFF;
}

.option-toggle{
  text-shadow: 0.05em 0.05em 8px #1A1B1A;
}

.option-toggle:hover, .option-toggle:active{ /*Make look like link*/
  text-decoration: underline;
  cursor: pointer;
}

.additional-selects, .additional-selects select{
  color: #fff;
  text-shadow: 0.1em 0.1em 8px #1A1B1A;
}

.content{
  background-color: #B7B29D;
}

.featured-slideshow{
  box-shadow: 0.5em 0.5em 8px 0.25em #1A1B1A;
}

.house-info{
  color: #fff;
  background-color: rgba(0,0,0,0.70);
}

.house-info a{
  color: #fff;
}

.card{
  background-color: #1A1B1A;
  color: #fff;
  box-shadow: 0.5em 0.5em 8px 0.25em #1A1B1A;
}

.card a{ /*Link styling card*/
  color: #fff;
  font-weight: 550; /*bold*/
}

.card a:hover, .card a:active{
  color: #3C505F;
}

.footer{
  background-color: #A26444;
}

.testimonials{
  background-color: #B7B29D; /*temporary to see space*/
  box-shadow: 0.5em 0.5em 8px 0.25em #1A1B1A;
}

.legal-information a:hover, .legal-information a:hover{
  color: #000;
}

                                        /* ########### */
                                        /* Typography */
                                        /* ########### */
:root{
font-size: 16px;
font-family: Verdana, sans-serif;
}

.nav{
  font-size:1.2rem;
}

.search h1{
  font-style: oblique;
  font-size: 3.5em;
  font-weight: 500;
  text-shadow: 0.1em 0.1em 2px #1A1B1A;
}

.search-items input{
  font-size: 1.5em;
}

.search-items input[type=submit]{
  font-weight: 550;
}

.subscribe-form input{
  font-size: 0.6em;
}


.additional-options{
  font-size: 1.5em;
  font-weight: 550;
  text-shadow: 0.1em 0.1em 2px #1A1B1A;
}

.additional-selects{
  font-size: 0.8em;
  text-shadow: 0.1em 0.1em 2px #1A1B1A;
}

.house-info h3{
  font-size: 1.7em;
}

.house-info li{
  font-size: 1.1em;
}

.quantity{
  font-size: 1.2em;
  font-weight: 600;
}
.house-info a{
  font-size:1.2em;
}

.house-info a:hover, .house-info a:active{
  text-decoration: underline;
}
.card-head{
  font-size: 3em;
  text-shadow: 0.1em 0.1em 2px #1A1B1A;
}

.newsletter{
  font-size: 1.5em;
}

.newsletter h4{
  text-decoration: underline;
}

.legal-information a:hover, .legal-information a:active{
  text-decoration: underline;
}

.testimonial p{
  font-family: fantasy;
  font-size:1.5em;
}

.testimonial i{
  font-size: 1em;
}
                                        /* ########### */
                                        /* Animations */
                                        /* ########### */

#option-toggle:checked + .additional-options{ /*Display options when checked*/
  visibility: visible;
}

/*Transition styling and timings for index cards*/
.card{ /*Transform transition speed*/
  transition: transform 1s;
}

.card-head,.card p,.card a{ /*Elements transitioning and timings */
  transition: height 0.8s,
              margin 1s,
              visibility 1s;
}

.card:hover{
  transform: scale(1.1,1.1); /*Zoom slightly on hover*/
}

.card:hover > p{ /*Expand text*/
  visibility: visible;
  margin: 1.5rem 3rem;
  height: 10.5em;
}

.card:hover>a{ /*Expand Link*/
  visibility: visible;
  height: 1.5em;
  margin-bottom: 1rem;
}

.card:hover > .card-head{ /*Collapse Head*/
  height: 10rem;
  font-size: 2rem;
}

@keyframes scroll{
  0%{
    left:0;
  }

  33%{
    left:-100%;
  }

  66%{
    left:-200%;
  }

  99%{
    left:0;
  }

}

/* Automatic animation as example. Manual control buttons will be added to final product using JS */
.slider-testimonial, .slider-featured{
  animation: scroll 20s infinite;

}



                                      /* ########### */
                                      /* Forms */
                                      /* ########### */
.search-form{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 60%;
}

.search-items,.subscribe-form{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  width: 100%;
  padding:auto;
}
.search-form input[type=text], .newsletter input[type=text]{
  width: 74%;
  height: 3rem;
  padding-left: 1rem;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

.search-form input[type=submit],.newsletter input[type=submit]{
  width: 25%;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  background-color: #869D8A;
}

.additional-options{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem 0 1rem;
  visibility: hidden;
}

.additional-option{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  width: 30%;
}

.additional-option label{
  padding-bottom: 0.5rem;
}

.additional-selects{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.additional-selects select{
  width: 25%;
  height: 2rem;
  margin-right:1em;
  background-color: transparent;
  border: none;
  border-bottom: 0.2em solid #FFF;
}
